:host {
  display: block;
  min-height: 2rem;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;

  display: flex;
  justify-content: space-between;
}

.emoji {
  font-family: 'Noto Color Emoji';
}
