:host {
  display: block;
}

mat-grid-tile {
  cursor: pointer;
}

button {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  font-family: 'Noto Color Emoji';
}

.snackbar {
  font-size: 1.5rem;
}

.emoji {
  font-family: 'Noto Color Emoji';
}
