/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: 'Noto Color Emoji';
    src: url('/assets/noto-color-emoji.ttf') format('truetype');
}

/* Let `<html />` and `<body />` tags take up the full viewport height. */
html {
    height: 100%;
    margin: 0;
}

body {
    height: calc(100% - (8px * 2));
    margin: 8px;
}
